{% extends 'base.html.twig' %}

{% block title %}URL minimizer{% endblock %}

{% block body %}
    <section id="home" class="content">
        <h3>Paste the URL to be shortened</h3>
        {{ form(form) }}
        <p>Use our URL minimizer to create a shortened link making it easy to remember.</p>
    </section>
{% endblock %}
