{% extends 'base.html.twig' %}

{% block title %}URL minimizer{% endblock %}

{% block body %}
<div>
    <h1>URL minimizer</h1>
    <p>Paste the URL to be shortened</p>
    {{ form(form) }}
    <p>Use our URL minimizer to create a shortened link making it easy to remember.</p>
</div>
{% endblock %}
